* {
	box-sizing: border-box;
	margin: 0px;
	padding:0px;
	
}


body { 
	font-family: "American Typewriter";
	 }

h1{ margin: 50px;
	text-align: center;
}
.container{
	position: relative;
	width: 100%;	
}
.all{
	
	background-color: #9F6D3D;
	border: 2px solid black;
	padding: 5px;
	width: 333.33px;
	margin: 10px;
	float: left;
}
h3{
	border: 2px solid black;
	background-color: #4BC340;
	text-align: center;
	width: 30%;
}


@media (min-width: 992px){
	h3{
		background-color: #94FF6D;
		border: 2px solid black;
		padding: 3px;
		width: 40%;
		text-align: center;
		position: relative;
		top: -7px;
		left: 61.7%;

	}

	.col-lg-4{
		position: relative;
		border: 2px solid black;
		background-color: #999999;
		width: 32%;
		float: left;
		margin-right: auto;
	}

	.one{
		background-color: #D6DCFB;
		
	}
	.two{
		background-color: #E4CEF1;
	}
	.three{
		background-color: #FCE6F5;
		
	}


}

@media (min-width: 768px) and (max-width: 991px){
	h3{
		background-color: #AFFFD0;
		border: 2px solid black;
		padding: 3px;
		width: 40%;
		text-align: center;
		position: relative;
		top: -7px;
		left: 61.7%;
	}
	.container{

		
	}
	.one{
		width: 41%;
		margin-left: 6%;
		margin-right: 3%;
		background-color: #6EEA9B;

	}
	.two{
		width: 41%;
		margin-left: 3%;
		margin-right: 6%;
		float: left;
		background-color: #88D4B5;
	}
	.three{
		
		width: 88%;
		height: 150px;
		margin-right: 6%;
		margin-left: 6%;
		margin-top: 3%;
		background-color: #A9F5D6;
	

	}
	.three > h3{
		background-color: #E7FBEC;
		width: 39%;
	}


}
@media (max-width: 767px){
	h3{
		background-color: #50E928;
		border: 2px solid black;
		padding: 3px;
		width: 40%;
		text-align: center;
		position: relative;
		top: -7px;
		left: 61.7%;
	}

	.all{
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;

	
	}

	.one{
		background-color: #37FFB5;
		
	}
	.two{
		background-color: #37C2B5;
		
	}
	.three{
		background-color: #9CC2B5;
		margin-bottom: 15%;
	}

}


